@import '../../../var';


.chart-filter-btn {
  background-color: $h2;
  border-radius: 5px;
  padding: 0.7rem;
  color: #fff;
}

.chart-filter {
  box-shadow: inset 10px 0 1rem rgba(100, 100, 100, 0.1);
  z-index: 1;
  transition: 0.5s;
  background-color: #f8f8f8;
  transform: translateX(-41px);
  width: 16rem;

  .chart-filter-btn {
    background-color: $h2;
    border-radius: 5px;
    padding: 0.7rem;
    color: #fff;
  }

  .filter-header {
    background-size: 0;

    i {
      display: none;
      color: #fff;
    }

  }

  .filter-btn-icon {
    color: #fff;
    display: none;
  }

  .filters-header {
    color: #000;
    width: 100%;
    text-align: left;
  }

  i {
    transition: 0.5s;
  }

  .chart-filter-btn {
    margin: 5px;
  }
}

.chart-filters-visible {
}

.chart-filters-hidden {
  width: 60px !important;
  background-color: $h1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: none;
  width: 60px;
  transition: 0.5s;

  .filter-icon-container {
  }

  .filter-header {
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    background: none !important;

    h2 {
      display: none;
    }

    i {
      display: flex;
      font-size: 1.5rem;
      margin: 0;

    }

  }

  .filter-btn-icon {
    display: block;
    font-size: 2rem;
    min-height: fit-content;
    min-width: fit-content;


  }

  span {
    display: none;
  }

  .chart-filter-btn {
    display: flex !important;
    justify-content: center !important;
    min-width: fit-content !important;
    min-height: fit-content !important;
    padding: 0.2rem !important;
    background: none !important;
  }

  .arrow-btn {
    transform: rotate(180deg);
    margin: 0;
    color: #fff;
  }

}

@media screen and (max-width: 768px) {
  .chart-filters-mobile-hidden, .chart-filters-mobile-visible {
    position: fixed;
    right: 0;
    top: 50px;
    padding: 0;
    margin: 0 !important;
    height: calc(100vh - 50px);
    transform: translateX(250px);
    background-color: $h2;
    box-shadow: -10px 0 1rem rgba(0,0,0,0.1);
    z-index: 2;
    transition: all 0.3s;

    .filter-icon-container {
      height: 100%;
    }

    .filters-icon {
      display: none;
    }

    .chart-filter-btn {
      background-color: #fff;
      color: #000;
      width: 90%;
      margin: 8px auto;
    }

    h2 {
      color: #fff;
      margin: 0;
      text-shadow: 0 0 1rem rgba(0,0,0,0.2);
    }

    .filter-header {
      width: 100%;
      height: 80px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1rem;


    }
  }

  .chart-filters-mobile-visible {
    transform: translateX(0px);
  }

  .filter-toggle-button {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99;
    font-size: 1.2rem;
  }
}