@import '../../var';

@keyframes timerEntry {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.timer {
  margin: 0 !important;
  width: auto !important;
}

.timer-body {
  animation: timerEntry 0.3s ease-out;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #fff;
  text-shadow: 0 0 0.5rem rgba(0,0,0,0.1);

  .timer-section {
    background: rgba(255, 255, 255, 0.1);
  }
}

h3 {
  text-transform: uppercase;
}

.card-item {

  .clock-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 54px;

    .clock {
      color: #f8f8f8;
      font-family: 'LCD';
      font-size: 2rem;
    }
  }
}

.list-item {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  grid-template-rows: 1fr !important;
  max-height: 60px;

  .timer-tag {

  }

  div {
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }


  .content {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.timer-close-btn {
  transform: translate(5px, -5px);
  transition: 0.2s;
  font-family: $font-primary;
}

.timer-close-btn:hover {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}
