@import "../../../var";

// Makes mobile-specific menus only do anything at lower screen sizes
@media screen and (max-width: 768px) {
  .add-timer-hidden {
    display: none;
  }

  .add-timer-visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    background-color: #f2f2f2;
    padding: 10px 5px 5px;
    margin: 10px 0 0 0;

    .field {
      flex-direction: column;
      align-items: flex-start;

      div {
        margin: 5px 0 5px 0;
      }
    }
  }
}

.switch-btn {
  position: absolute !important;
  top: 10px;
  color: $h1 !important;
  font-weight: bold !important;
  :first-child {
    border-bottom: 1px solid !important;
  }
}
.switch-btn:focus {
  border: none !important;
  outline: none !important;
}
