@import '../../../var';

.add-timers {
  background: rgba( 255, 255, 255, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

// Timer control toggle for non-mobile res
.add-timer-hidden {
  display: none;
}

.add-timer-btn {
  background: $h1;
  height: 52px;
  box-shadow: 0 0 1rem rgba(226, 110, 92, 0.2);
  color: #fff;
  font-family: $font-primary;
  transition: 0.2s;
}

.add-timer-btn:hover {
  box-shadow: 0 0 1rem rgba(226, 110, 92, 0.6);
}

// Makes mobile-specific menus only do anything at lower screen sizes
@media screen and (max-width: 768px) {


  .add-timer-hidden {
    display: none;
  }

  .add-timer-visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    background-color: #f2f2f2;
    padding: 10px 5px 5px;
    margin: 10px 0 0 0;

    .field {
      flex-direction: column;
      align-items: flex-start;

      div {
        margin: 5px 0 5px 0;
      }
    }
  }

}