@import '../../var';

@keyframes burgerEntry {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.burger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
}

.burger-container {
    animation: burgerEntry 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);
    position: fixed;
    right: 15px;
    top: 90px;
    height: 400px;
    width: 250px;
    background-color: $h2;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 92%;
    border-radius: 5px;
}

.burger-container::before {
    content: "";
    position: absolute;
    right: 24px;
    transform: rotateZ(90deg);
    margin-top: -30px;
    border: solid 15px transparent;
    border-right-color: $h2;
    z-index: 1;
}

.burger-header {
    grid-row: 1 / span 1;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.burger-items {
    grid-row: 2 / span 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.burger-items a {
    color: #fff;
    cursor: pointer;
}

.burger-close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.burger-item-icon {
    color: #fff;
    transition: 0.2s;
}

.burger-item:hover {

    .burger-item-icon {
        transform: scale(1.1);
    }
}

.burger-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger-item label {
    color: #fff;
    font-size: 1rem;
    margin-top: 8px;
}
