@import '../../../var';

.searchbar {
  .MuiInputLabel-formControl {
    transform: translate(0, 15px) scale(1);
    padding: 0 0 0 10px;
  }
  .MuiInputBase-root {
    height: 38px !important;
    margin: 0;
  }
  margin: 0 20px 0 40px !important;
  height: 38px !important;
}
.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75) !important;
  padding: 0 0 0 20px !important;
}

.css-gga68z-MuiInputBase-input {
  padding: 0 10px !important;
}

@media screen and (max-width: 768px) {
  .filter-timer-visible, .filter-timer-hidden {
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    top: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    border-left: none;
    background-color: $h2;
    color: #fff;
    transform: translateX(0px);
    transition: all 0.3s;
    z-index: 2;
    box-shadow: -10px 0 1rem rgba(0,0,0,0.1);

    .filter-item {
      padding-left: 1rem;
    }

    .filters-header {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 80px;

      h2 {
        color: #fff;
        text-shadow: 0 0 1rem rgba(0,0,0,0.2);
      }
    }

    .checkbox {
      margin: 10px 0 10px 0;
    }

    .filter-item {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .searchbar {
      margin-left: 1rem !important;
    }

    .checkbox {
      padding-left: 1rem;
    }
  }

  .filter-timer-visible > button, .filter-timer-hidden > button {
    margin-left: 1rem !important;
  }

  .filter-timer-hidden {
    transform: translateX(250px);
    transition: all 0.3s;
  }
}