.timer-filter-item {

  z-index: 99 !important;

  .css-yk16xz-control {
    background: none !important;

    .css-g1d714-ValueContainer {

      .css-1wa3eu0-placeholder {
        color: #fff;
      }
    }



    .css-1uccc91-singleValue {
      color: #fff !important;
    }
  }
}

.css-26l3qy-menu {
  z-index: 5 !important;
}