/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import "./var";
@import './Media';
@import './Components/button/Button';

@font-face {
  font-family: 'LCD';
  src: local('MyFont'), url(./fonts/DS-DIGI.TTF) format('woff');
}

body {
  background-size: contain;
  background: $grad;
  font-family: $font-primary;
}

button:focus {
  outline: none;
}

.title {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: $text;
}

p {
  color: $text;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App {
  text-align: center;
  min-height: 100vh;

}

.App-link {
  color: #61dafb;
}

.searchbar {
  .MuiInputLabel-formControl {
    transform: translate(0, 15px) scale(1);
  }
  .MuiInputBase-root {
    height: 38px !important;
    margin: 0;
  }
  margin: 0 20px 0 40px !important;
  height: 38px !important;
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75) !important;
}

@keyframes contentEntry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-content {
  animation: contentEntry 0.5s linear;
  background-color: rgba(255,255,255,0.1) !important;
}

.page-title {
  color: #fff;
  font-size: 3rem;
  margin-top: 25px !important;
  text-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
}

.styled-button {
  background-color: #6441A5;
  border-radius: 15px;
  padding: 8px 40px;
  color: #fff;
  font-family: $font-primary;
}

.styled-button:hover {

}