// STYLE VARS
// colour palette
$bg: #f8f8f8;
$lightest: #fff;
$light: #fff;
$h1: #ff7452;
$h2: #59899c;
$dark: #463F3A;
$text: #472D30;

$font-primary: 'Poppins', sans-serif;

$grad: linear-gradient(to right, #061161, #780206) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
